<section>

<h1>Edit User Profile</h1>

<%= render 'form' %>

<%= link_to 'Show', @user, :class => "site-link btn btn-default"  %> |
<%= link_to 'Back', users_path, :class => "site-link btn btn-default"  %>

</section>