   <!-- About Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <center>
                    <h2 class="section-heading">About Us</h2>
                    </center>
                    <p class="text-muted">Following the events of September 11th, Dr. Ponichtera wondered how America could respond to these tragic events in a manner befitting its political identity.  Having just read a number of monographs on the founding of the United States, he was reminded of how seriously people like John Adams and Thomas Jefferson valued concepts like democracy, liberty, and freedom.  How could their belief in these ideals be kept alive and relevant for today’s Americans?  What made the United States the country of choice for people around the world who sought a better life for themselves and their families?  Finally, he wondered about the impact of our changing demographics.  How could America’s republican experiment, which has set us apart from monarchies, dictatorships, and other types of authoritarian regimes, remain vital and strong given a vast influx of new immigrants from countries that, by and large, had no experience with democratic government?</p>
                        <hr>
                    <p class="text-muted">A colleague suggested working with youth.  Soon thereafter, it all came together.  The answer was Liberty’s Promise.  Here was an organization that would endeavor to remind us of our collective immigrant past and recall our tradition of embracing new arrivals by engaging our society's newest members in their communities and introducing them to the opportunities available to them. Liberty’s Promise was incorporated in 2003, and officially opened its doors on August 11, 2005.  To date, we’ve served 3,295 immigrant youth from <a href="map.html">107 different countries</a> through <a href="whatwedo.html">after-school civic engagement programs and professional internships</a>. We strive to make a a <a href="ourimpact.html">lasting impact</a> on our youth by helping them get involved in their communities, showing them the pathways to higher educational and meaningful careers, and providing the personal support and long term mentoring the need to realize their individual American dreams.</p>
                    <center>
                    <%= image_tag "mlk-jr-memorial.jpg", :class => "img-responsive" %>
                    </center>
                </div>
            </div>

         <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="staff.html"><i>Meet our Team</a></i></h4>
                    <p class="text-muted">Behind Liberty's Promise is a dynamic team of 11 individuals who bring to the table a variety of unique experiences and skills- while all sharing a passion for supporting immigrant youth.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="board.html"><i> Meet Our Board</i></a></h4>
                    <p class="text-muted">A nine-member Board of Directors oversees the activities of Liberty's Promise. The Board, which meets quarterly, represents professionals from the public, private, and non profit sectors and includes alumni representatives.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="donors.html"<i>Our Donors</i></a></h4>
                    <p class="text-muted">As a non-profit organization, the work of Liberty's Promise is made possible by the generosity of a variety of corporations, government agencies, private foundations, and individual philanthropists who make our work possible.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <p class="text-muted">Check out our <a href="whatwedo.html">"What We do"</a> section to learn more about our programs!</p>
            </div>
        </div>
    </section>
    <!--/About Section-->