   <!-- Board Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Board of Directors</h2>
                    <p class="section-subheading text-muted">A nine-member Board of Directors oversees the activities of Liberty's Promise. The board, which meets quarterly, is comprised of professionals from the private and non-profit sectors and includes two Liberty's Promise program alumni. Board Members are:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="team-member">
                        <h4>Ms. Krista Hendry, Board Chairperson</h4>
                        <p class="text-muted">Ms. Hendry is the Senior Manager at Monkey Forest, a social performance consulting firm. She also serves as director of the Human Rights and Business Roundtable, engaging businesses, governments, and non-governmental organizations on issues related to sustainable development and security in weak and failing states. She holds an MBA from Georgetown University and a BA from the University of Virginia.</p>
                    </div>
                    <div class="team-member">
                        <h4>Ms. Pamela Daley, Board Secretary</h4>
                        <p class="text-muted">Ms. Daley is originally from the great state of Ohio and is currently the Grants & Communications Manager at Capital City Public Charter School in Washington, DC. Prior to Capital City, Pamela worked as a Program Officer for Liberty’s Promise from 2009-2012. She holds a Master's degree in International Development from the University of Pittsburgh – Graduate School of Public and International Affairs and a dual Bachelor in International Studies and Political Science from Wright State University.</p>
                    </div>
                    <div class="team-member">
                        <h4>Mr. Jonathan Jayes Green (LP Alumnus)</h4>
                        <p class="text-muted">Mr. Jayes-Green, originally from Panama, first participated in our after-school programs in Silver Spring, MD in 2007. Since then he has continued to stay engaged with Liberty’s Promise by being a guest speaker and helping with job skills workshops during after-school programs in Montgomery and Prince George’s Counties. He graduated from Montgomery College’s Scholars Honors program in 2012 and served as the student member of the Montgomery College Board of Trustees. He was the recipient of the 2011 Immigrant Youth Achievement Award by the American Immigration Council and has been recognized by several state and local organizations for his advocacy for access to higher education. He served as Administrative Director of the Governor’s Commissions on Hispanic and Caribbean Affairs for the State of Maryland and is now the Community Engagement Director and Contract Manager at Respira Inc.</p>
                    </div>
                    <div class="team-member">
                        <h4>Ms. Patricia Minikon</h4>
                        <p class="text-muted"> Ms. Minikon is the founder of Minikon Law, LLC, a Maryland immigration law firm. Ms. Minikon became involved with Liberty’s Promise as a speaker, sharing her immigration journey from her birthplace of Liberia to the U.S. She is licensed to practice law in the District of Columbia and Maryland, and is a member of the American Immigration Lawyer’s Association, the D.C. Bar, and the Maryland State Bar Association. She holds a BA in the Administration of Justice, magna cum laude, from Howard University, a MA in International Affairs from American University’s School of International Service, and a Juris Doctor from the University of Maryland School of Law. </p>
                    </div>
                    <div class="team-member">
                        <h4>Ms. Austin Morris</h4>
                        <p class="text-muted">Ms. Morris, originally from the Philadelphia area, began her tenure at Liberty’s Promise as an intern in 2008. Upon graduating from Dickinson College with a Bachelor of Arts in Sociology, she returned to the organization as a Program Officer from 2009-2013. Upon receiving a Master of Science in Social Policy from the University of Pennsylvania, Austin returned to Washington, D.C. as a caseworker in the Office of Congressman Van Hollen.  </p>
                    </div>
                </div>
                <!-- end of column-->
                <div class="col-md-6">
                    <div class="team-member">
                        <h4>Mr. Andrew Young, Board Treasurer</h4>
                        <p class="text-muted">Mr. Young is a shareholder at Renner & Company, CPA, P.C. and has worked in public accounting for both Big 4 and regional firms throughout his career. Passionate about serving the non-profit community, his non-profit experience includes audits of trade associations, public charities, private foundations, labor unions, schools, and other tax exempt organizations. In addition, he has extensive experience auditing federal award programs and grants. Mr. Young holds a Bachelor of Science in Accounting, Summa Cum Laude, from Roberts Wesleyan College in Rochester, New York, and holds a Master of Business Administration degree with distinction from Liberty University. He is licensed as a Certified Public Accountant in Virginia and New York State, and maintains a Chartered Global Management Accountant License. He is a member of the American Institute of Certified Public Accountants, the Virginia Society of Certified Public Accountants, the Greater Washington Society of Certified Public Accountants, and the Finance and Administration Roundtable. </p>
                    </div>
                    <div class="team-member">
                        <h4>Ms. Ikumi Kayama</h4>
                        <p class="text-muted">Ms. Ikumi Kayama is the founder and principal illustrator of Studio Kayama Medical & Scientific Illustration LLC working with doctors and scientists to create accurate illustrations used in textbooks and journal articles. Ms. Kayama got involved with Liberty’s Promise by speaking to the students about her career that blends both science and art. She is originally from Japan. Having had to learn English as a second language, her passion is to create illustrations that make modern medicine and science accessible and relevant to everyone. Ms. Kayama holds a Master’s degree in Medical & Biological Illustration from Johns Hopkins University School of Medicine and a Bachelor of Fine Arts degree in Scientific Illustration, Summa Cum Laude, from University of Georgia. Her work has appeared internationally in juried shows, exhibits, textbooks, scientific journals, presentations, and web sites. Ikumi is also the recipient of numerous awards from a variety of organizations including Rank Netter Scholarship in medical art, Guild of Natural Science Illustrators, Association of Medical Illustrators, and the Illustrators Club.</p>
                    </div>
                    <div class="team-member">
                        <h4>Mr. Jack McLindon</h4>
                        <p class="text-muted">Mr. McLindon is an Experienced Associate in the Financial Services Operations practice at PricewaterhouseCoopers (PwC). Mr. McLindon originally got involved with Liberty’s Promise by teaching financial literacy as a guest speaker at our programs. Since then, Mr. McLindon has developed a passion for the organization and now serves on the Finance Committee of the Liberty’s Promise Board of Directors. Mr. McLindon holds a Bachelor of Arts in Economics from Davidson College where he also earned an athletic scholarship to play baseball. </p>
                    </div>
                    <div class="team-member">
                        <h4>Mr. Marcos Moya (LP Alumnus)</h4>
                        <p class="text-muted">Mr. Moya, originally from El Salvador, first participated in our after-school programs in Gaithersburg, MD in 2007.  Since then, he has continued to stay involved in Liberty’s Promise through frequent visits to our after-school programs, sharing his immigration story and college experience.  A graduate of Montgomery College’s Honors Program, Marcos then transferred to University of Maryland, Robert H. Smith School of Business, where he earned a Bachelor degree in International Business.  Marcos currently works as a Network Supply Planner at Nestle USA. He also serves on the Finance Committee of the Liberty’s Promise Board of Directors.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="text-muted text-center general-quote"></p>
                </div>
            </div>
        </div>
    </section>
    <!-- board Section -->
