    <section class="bg-light-gray">
        <div class="container">
           <div class="row">
                <div class="col-lg-12 text center">
                <h2 class="section-heading text-center"><i>Civic Engagement for Beginning English Language Learners</i></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted"><i><strong> Civic Engagement for Beginning English Language Learners (CE-BELL)</strong></i> is a modified version of our Civics and Citizenship after-school program, which is explicitly designed for this steadily growing population of low-level (I-II) ESOL students. The vision for CE-BELL is to create an environment that inspires our immigrant youth  to dream bigger and explore the endless opportunities this country offers them. This program is run entirely in Spanish. Through this approach, students leave each session with a greater sense of confidence in themselves knowing that their strengths and cultural diversity are valued. Successful immigrant guest speakers are invited and they will share their stories with our youth to instill motivation and encouragement into their lives. CE-BELL includes a modest English language component and all the activities are designed to be of the most use and relevance to the community’s newest arrivals. CE-BELL provides the perfect opportunity for students to develop self-worth, as well as help them set personal goals, improve attendance, and ensure diploma completion.</p>
            </div>
            <div class="col-md-6">
                <%= image_tag "ce-bell-titans.jpg", :class => "img-responsive" %>

            </div>
        </div> <!--- Row-->
            <div class="row">
                <div class="col-md-6">
                    <%= image_tag "ce-bell-ghs.jpg", :class => "img-responsive" %>
                </div>
                <div class="col-md-6 text center">
                <h4 class="section-heading">Read below what some of our students have said about<i>CE-BELL</i>....</h4>
                <p class="text-muted"><i>A youth from El Salvador said, "I like Liberty's Promise because we do activities in English and this helps us improve our English."</i?</p>
                <p class="text-muted"><i>A youth from Honduras said, "I learned I can accomplish anything I set my mind to do."</i></p>
                <p class="text-muted"><i>A youth from El Salvador said, "Liberty's Promise is a great program that helps the Hispanic community. They have always been there for me when I face difficulties at home."</i></p>
                <p class="text-muted"><i>A youth from Guatemala said, "Liberty's Promise is a place where we get to learn a lot and make new friends."</i></p>
                <p class="text-muted"><i>A youth from Bolivia said, "I participated in Liberty's Promise because I needed help with my community service hours and because I wanted to learn how everything works in the United States."</i></p>
                </div>
            </div><!--- Row-->
        </div><!--- Container-->

    <div class="row">
        <div class="col-lg-12">
            <p class="text-muted text-center"><i>"Liberty's Promise helps our growth and prepares us for our future," - <i>CE-BELL</i> participant from El Salvador.</i></p>

        </div>
    </div><!-- //Row-->

    </section>
    <!-- CE BELL Section -->