   <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <p class="intro-heading">Liberty's Promise</p>
                <p class="intro-lead-in">Providing Hope and Help for Immigrant Youth</p>
                <center>
                    <%= image_tag "LP-Logo.jpg", :class => "img-responsive LPLogo" %>
                </center>
                <a href="/pages/what_we_do" class="page-scroll btn btn-xl">Learn More</a>
                <a href="/pages/espanol" class="page-scroll btn btn-xl" style="background-color: #cc0000">Aprender más</a>
            </div>
        </div>
    </header>

    <div class="container">

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Limit of 3 Posts Will Appear Here Row -->
                <h1 class="text-center">News</h1>
                <%= render 'shared/post' %>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

    </div> <!--/.container -->
