   <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <p class="intro-heading">Liberty's Promise</p>
                <p class="intro-lead-in">Providing Hope and Help for Immigrant Youth</p>
                <center>
                    <%= image_tag "LP-Logo.jpg", :class => "img-responsive LPLogo" %>
                </center>
                <a href="/pages/what_we_do" class="page-scroll btn btn-xl">Learn More</a>
                <a href="/pages/espanol" class="page-scroll btn btn-xl" style="background-color: #cc0000">Aprender más</a>
            </div>
        </div>
    </header>

    <div class="container">

        <!-- Call to Action Well -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">News</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h3>Monthly Update: March</h3>
                <p class="text-muted">In the month of March, we invite you to take a look at one of the activities our <i>Civics and Citizenship</i> youth participated in, welcome back Ms. Carla Cassidy to the Liberty's Promise team, hear an alumna success story, and learn about our newest partnership with French non-profit organization <a href="http://adice.asso.fr/" target="_blank" class="site-link">ADICE.</a></p>
                <a class="btn btn-default" href="http://myemail.constantcontact.com/March-update-from-Liberty-s-Promise--Lafayette--we-have-returned-.html?soid=1101662953694&aid=74c-paj9V_g" target="_blank">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h3><i>2016 Opportunities Plus</i> internship program</h3>
                <p class="text-muted">Currently we are searching for host organizations to host interns for our <i>Opportunities Plus</i> internship program. If you or someone you know has an organization who would be interested in hosting one of our youth, it would <strong>free</strong> as we provide our youth with a transportation/food allowance.</p>
                <a class="btn btn-default" href="/pages/opportunities_plus" target="_blank">More Info</a>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <h3>2016 Annual Fundraiser</h3>
                <p class="text-muted">We are pleased to announce that our annual fundraiser will be held on <strong>Saturday, June 25th at the Pepco Edison Gallery.</strong> We are also very pleased to announce that we will be <strong>honoring Montgomery County Councilmember Nancy Navarro.</stong> Tickets are available <a href="https://www.eventbrite.com/e/annual-fundraiser-tickets-24995302623" target="_blank" class="site-link">here</a> and interested supporting sponsors should <a href="/pages/contact" class="site-link">contact us.</a></p>
                <a class="btn btn-default" href="/pages/fundraiser" target="_blank">More Info</a>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

    </div> <!--/.container -->
