    <!-- Opportunities Plus Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
           <div class="row">
                <div class="col-lg-12 text center">
                <h2 class="section-heading text-center"><i>Opportunities Plus</i></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted"><i><strong>Opportunities Plus</strong></i> gives young immigrants a chance to explore their talents and exposes them to a variety of career possibilities. The goal of the program is to combat cultural obstacles to prospective career paths, stressing the values of professionalism, freedom of choice, self-determination, and the pursuit of a fulfilling career. By the end of their internship, participants will have become <strong> more comfortable applying for employment on their own, more comfortable in the American workplace, and gain a better understanding of a professional work environment.</strong></p>
                    <hr>
                <p class="text-muted">Internships are offered in the spring, summer, and fall. Internships last from 6-8 weeks, with a weekly commitment of 20-40 hours in the summer and 10-20 hours in the spring and fall. Liberty’s Promise arranges for internship interviews, coordinates placements based on the participant’s interest, collaborates with human resource and employment officials, monitors the progress of program participants, provides feedback to interns and the companies for which they work and intercedes in the event of difficulties.</p>
                <hr>
                <p class="text-muted"><strong>To apply for an Opportunities Plus internship for the summer of 2016</strong>, <a href="https://docs.google.com/a/libertyspromise.org/forms/d/12Fcd0XGxi6T4r4IZLE1QCHqFhw33OLAYpPicd5nsODQ/viewform" class="site-link">apply directly online</a><br>
                <strong>To apply to be an Opportunities Plus Host Organization,</strong> <a href="#" class="site-link">fill out our host application online.</a></p>
                </div>
                <div class="col-md-6">
                    <center>
                        <%= image_tag "intern-one.JPG", :class => "img-responsive" %>
                    </center>
                </div>
        </div>
            <div class="row">
            <div class="col-md-6">
                <center>
                    <%= image_tag "intern-two.JPG", :class => "img-responsive" %>
                </center>
            </div>
            <div class="col-md-6 text center">
                <h4 class="section-heading">Read below what some of our recent interns said about their experience with <i>Opportunities Plus</i>....</h4>
                <p class="text-muted"><i>"This internship will help me to develop my resume, it will help me help others in crisis. I can apply all that I have been taught to real life situations. With this internship I will have something meaningful to write about in college applications," -intern at Community Crisis Services in Prince George's County, MD</i></p><hr>
                <p class="text-muted"><i>"My favorite part of the internship was that I was able to do projects for the community," -intern at the Georgia Avenue Family Support Collaborative in Washington, DC</i></p><hr>
                <p class="text-muted"><i>"My favorite thing about working with Liberty's Promise during my internship is that I got the chance to interact with people on daily basis. It taught me to be confident in the things I do and not to be afraid to ask questions or help on things I do not understand," - intern at Class Acts Art in Montgomery County, MD</i></p><hr>
                <p class="text-muted"><i>"This internship will help me in the future because it gave me experience. I would like to work with children in the future and during my internship I got the opportunity to do just that. This internship  helped me understand how every child is unique in their own way,"- intern at Sacramento Neighborhood Center in Fairfax County, VA</i></p><hr>
                <p class="text-muted"><i>"My internship will help me in the future because I want to become a pediatrician and pediatricians need good communication skills to be able to interact with patients," - intern at Ministries United Silver Spring Takoma in Montgomery County, MD</i></p>
            </div>
        </div>
    </div>
    </section>

    <!-- /Opportunities Plus -->