   <!-- Staff Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Team</h2>
                </div>
            </div> <!-- Row-->

            <div class="row">
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Dr. Robert M. Ponichtera, Executive Director/Founder</h4>
                        <p class="text-muted">Dr. Robert M. Ponichtera oversees the organization’s day-to-day operations, devoting his time to creating a network of partners, generating publicity, and cultivating donors. Ponichtera has more than a decade of experience working for nonprofit organizations, guiding program direction and fundraising activities. Before founding Liberty’s Promise, Ponichtera worked at Freedom House and the Woodrow Wilson International Center for Scholars, where he wrote grants, coordinated program activities, and conducted research. Ponichtera earned a Ph.D. in East European History from Yale University in 1995 and has taught at Yale, Quinnipiac College, Albertus Magnus College, and George Mason University. A native English speaker, Dr. Ponichtera is fluent in Polish. He and his wife, Renata, reside in Alexandria, Virginia with their son, Anthony. <br>
                            Dr. Ponichtera can be reached at rponichtera@libertyspromise.org<br>
                            <i>Fun fact: Bob is the proud owner of more than 21,000 baseball cards.</i></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Julien Labiche, Senior Program Officer</h4>
                        <p class="text-muted">Julien Labiche is responsible for the implementation of the internship and civic education programs in Montgomery County, at Gaithersburg and John F. Kennedy High Schools (Silver Spring). Mr. Labiche was born in the rural town of Mende in central France. After high school, his interest in foreign languages and humanities led him to pursue studies in English. He studied at Université Paul Valéry in Montpellier, where he obtained a degree in English Studies, and another one in French as a Second Language. He studied abroad for one year at Wittenberg University in Springfield, OH, where he happily immersed himself in American culture. Upon returning to France, Mr. Labiche earned certification to teach English as a Second Language. For the next three years, he taught at various public schools in the south of France. He then decided to move to the United States, where he got married. He taught high school French in Virginia, and eventually moved to the Washington DC area, teaching French in a language institute before joining Liberty’s Promise. A native French speaker, Mr. Labiche is fluent in English.<br>
                            Mr. Labiche can be reached at julien@libertyspromise.org<br>
                            <i>Fun fact: When Julien lived in Virginia Beach, VA, he played lead guitar in a rock band.</i></p>
                    </div>
                </div>
            </div> <!-- Row-->

            <div class="row">
                <div class="col-md-6">
                <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Nikki Dompke, Senior Program Officer</h4>
                        <p class="text-muted">Nikki Dompke is responsible for the implementation of the internship and civic education programs in the City of Alexandria, VA and at High Point High School in Beltsville, MD. She attended the University of Virginia where she earned a Bachelor of Arts Degree in Latin American Studies. During her time at UVA, she was involved in a development project that received a grant to research solutions to decrease the occurrence of domestic violence and empower women in the small town of Bluefields, Nicaragua. Ms. Dompke also volunteered in the Charlottesville community for three years as a youth soccer coach. Before completing her Bachelor’s Degree, Ms. Dompke worked as an intern for BU-GATA’s youth program, the Buckingham Youth Brigade, in Arlington where she worked with mostly first generation youth in a program that built leadership skills, encouraged higher education and empowered the youth to be more active in their community. Ms. Dompke speaks English and Spanish.<br>
                            Ms. Dompke can be reached at ndompke@libertyspromise.org<br>
                            <i>Fun fact: Nikki is half-Colombian and has traveled many times to visit her family in Colombia.</i></p>
                    </div>
                </div>
                    <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/4.jpg" class="img-responsive img-circle" alt="">
                        <h4>Krista O'Connell, Senior Program Officer</h4>
                        <p class="text-muted">Krista O’Connell is responsible for the implementation of the internship and civic education programs in Montgomery County, specifically at Downtown Silver Spring and Wheaton High School. Ms. O’Connell grew up in Virginia Beach and graduated from the University of Virginia with a Bachelor of Arts in Global Development Studies and Latin American Studies. While at UVA, Ms. O’Connell worked with the Latino community in Charlottesville through the Migrant Aid Program. She also had the opportunity to work with youth as a substitute teacher and resident advisor. For her senior thesis, Ms. O’Connell conducted anthropological research in Peru thanks to funding from the Harrison Undergraduate Research Award. During her last year of college, she also interned for a year at the US Agency for International Development (USAID) as a research assistant. Ms. O’Connell is fluent in Spanish. <br>
                            Ms. O'Connell can be reached at koconnell@libertyspromise.org<br>
                            <i>Fun fact: Krista enjoys making up goofy yoga poses.</i></p>
                    </div>
                </div>
            </div> <!-- Row-->

            <div class="row">
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/5.jpg" class="img-responsive img-circle" alt="">
                        <h4>Isela Melendez-Carpio, Program Officer</h4>
                        <p class="text-muted">Isela Melendez-Carpio is responsible for the implementation of the internship and civic education programs in Wakefield High School in Arlington County and in West Potomac High School in Fairfax County, VA. Ms. Melendez-Carpio is originally from El Salvador and came to the U.S. when she was six years old. She grew up in Arlington and attended University of Richmond, where she earned her Bachelor of Arts degree in Political Science. While in Richmond, she served as the president for the Spanish and Latino Student Alliance (S.A.L.S.A.), where she created the organization’s mission statement and piloted the institution’s first ever Hispanic Heritage Month. She also served as the site leader in Richmond’s Hispanic Liaison Office, a non-profit that connects the Spanish-speaking community with Richmond’s services and resources. Isela is an Americorps alum. During her service with Arlington Works!, she coordinated the Emerging Leaders Program, a youth leadership and college prep program.<br>
                            Ms. Melendez-Carpio can be reached at imelendez@libertyspromise.org<br>
                            <i>Fun fact: Isela loves to dance bachata and merengue.</i></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/6.jpg" class="img-responsive img-circle" alt="">
                        <h4>Carmen Centeno, Program Officer</h4>
                        <p class="text-muted">Carmen Centeno is responsible for the Civic Engagement for Beginning English Language Learners (CE-BELL) at Gaithersburg High School in Maryland and at Roosevelt Senior High School in Washington, DC. Carmen was born in San Salvador, El Salvador, and moved to the United States in 2005. While a student at Northwood High School in Silver Spring, MD, she participated in Liberty’s Promise, both in our after-school Civics program and our internship program. After high school, she  attended Montgomery College and graduated with an associate degree in teaching. Ms. Centeno has two years’ teaching experience at Jamon Montessori Day School in Silver Spring, MD. Ms. Centeno has also pursued her passion of helping her community through volunteer work with different nonprofit organizations. Ms. Centeno embraced the diversity of all cultures, in addition to sharing her Hispanic heritage with the community. <br>
                        Mrs. Centeno can be reached at ccenteno@libertyspromise.org<br>
                        <i>Fun fact: Carmen has won Scout knot competitions and knows over 180 types of knots.</i> </p>
                    </div>
                </div>
            </div> <!-- Row-->

            <div class="row">
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/7.jpg" class="img-responsive img-circle" alt="">
                        <h4>Zane Sandin, Program Officer</h4>
                        <p class="text-muted">As a Military brat, Zane spent his childhood in several places, including Maine, Maryland, New Jersey, and four years in Germany. Zane attended college at the University of Maine, Where he earned a degree in International Affairs/French, and spent a year abroad at l’Universite de Montreal in Quebec, Canada. While in college, Zane worked as an intern and peer advisor at the Office of International Programs of his university as well as a conversation tutor for a local adult literacy program, tutoring ESL students. Zane has dabbled in several languages and considers himself proficient in French and, to a lesser extent, Spanish.<br>
                            Mr. Sandin can be reached at zsandin@libertyspromise.org<br>
                            <i>Fun fact: Zane prefers Michael Keaton's interpretation of Batman over that of Christian Bale.</i></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/8.jpg" class="img-responsive img-circle" alt="">
                        <h4>Jenny Goebel, Program Officer</h4>
                        <p class="text-muted">Mrs. Goebel is responsible for the implementation of the internship and civic education programs at Bladensburg High School in Bladensburg, MD, and Parkdale High School in Riverdale, MD. Jenny earned a Bachelor of Arts in Political Science from Seattle Pacific University and studied abroad for a summer at the University of Salamanca in Salamanca, Spain. Before joining Liberty’s Promise, Jenny worked as a development assistant at Treehouse, and has extensive experience working with youth as a group leader for her church and tutor for immigrant youth. Jenny is passionate about working in Prince George’s County and hopes to help inspire confidence and build a sense of belonging in the county’s immigrant youth.<br>
                            Mrs. Goebel can be reached at jgoebel@libertyspromise.org<br>
                            <i>Fun fact: When Jenny was a young child, she won a wolf-howling competition.</i></p>
                    </div>
                </div>
            </div> <!-- Row-->

            <div class="row">
                <div class="col-md-6">
                    <div class="team-member">
                        <h4>Muska Kamran, Program Officer</h4>
                        <p class="text-muted">Muska Kamran is responsible for the implementation of the internship and civic education programs in Baltimore, specifically at Patterson High School and Benjamin Franklin High School. Muska was born in New York but moved back and forth between the U.S., Afghanistan, and Pakistan until she was 7, when her family decided to permanently live in the U.S. She attended Johns Hopkins University and graduated with a Bachelor of Arts degree in History and Political Science and Master of Arts in History as part of a 4-year BA/MA program. While at Hopkins, Muska worked as an intern at Campus Ministries. She also led external community relations for the Muslim Association to raise awareness about Islam and Muslims in America. Muska has also worked with youth at Liberty Elementary School, where she mentored highschool YouthWorkers for their educational and professional development, and as Director of Camp Kesem, where she organized a camp for kids affected by a parent’s cancer. She speaks English, Pashto, and Urdu.<br>
                            Ms. Kamran can be reached at mkamran@libertyspromise.org<br>
                            <i>Fun fact: Muska has over 70 first cousins.</i></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/9.jpg" class="img-responsive img-circle" alt="">
                        <h4>Carla Cassidy Irizarry, Program Officer</h4>
                        <p class="text-muted">Mrs. Carla Cassidy Irizarry is responsible for the implementation of CE-BELL (Civic Engagement for Beginning English Language Learners) program at T.C. Williams High School in Alexandria, VA and Roosevelt High School in Washington, DC. Mrs. Cassidy grew up in San Juan, Puerto Rico and graduated from Villanova University with a Bachelor of Arts in Communication and minors in Environmental Studies and Peace & Justice Studies. During her time at Villanova, she developed a passion for social justice, the environment and service while volunteering in various countries throughout Latin America. Carla initially worked with Liberty's Promise as a part-time Program Officer in Fall 2013 where she  piloted the first ever CE-BELL program at T.C. Williams High School. She also served as the Program Facilitator for Spring 2015 and Fall 2015 semesters. Prior to returning to Liberty’s Promise, Mrs. Cassidy worked as Operations Manager at Elevate, a small grant writing firm in Washington, DC. Mrs. Cassidy Carla is also an AmeriCorps alumna. During her service with Arlington Works!, she served as a Spanish & Culture Instructor where she mentored youth and empowered the Latin American community.<br>
                            Mrs. Cassidy can be reached at ccassidy@libertyspromise.org<br>
                            <i>Fun Fact: Carla is a huge fan of Ricky Martin. She has been to several of his concerts, met him on Broadway and has her very own Ricky Martin work mug.</i></p>
                    </div>
                </div>
            </div> <!-- //Row-->

            <div class="row">
                <div class="col-md-6">
                    <div class="team-member">
                        <img src="img/team/10.jpg" class="img-responsive img-circle" alt="">
                        <h4>Lidiya Alemu, Outreach Officer</h4>
                        <p class="text-muted">Lidiya was born and raised in Addis Ababa, Ethiopia. She moved to the United States when she was fourteen and graduated from T.C Williams High School. While in high school Lydia participated in the Liberty’s Promise civic after school program. She completed an internship at the Northern Virginia Area Health Education center and at the Mariden USA Education Group Travel. She recently finished her associate degree on Social Science/ Psychology Specialization at Northern Virginia Community College and is now pursuing a bachelor's degree in psychology with a concentration in human development at George Mason University. <br>
                            Ms. Alemu can be reached at lalemu@libertyspromise.org<br>
                            <i>Fun fact: Lidiya is learning to play the piano to become the world's greatest pianist.</i></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member">
                    </div>
                </div>
            </div> <!-- //Row-->

            <div class="row">
                <div class="col-lg-12">
                    <p class="text-muted text-center general-quote"></p>
                </div>
            </div><!-- //Row-->

        </div><!-- Container-->
    </section>

    <!-- /Staff Section -->