  <!-- What We Do Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What We Do</h2>
                    <p class="text-muted">We help low-income, immigrant youth (ages 15-21) to become <u>more engaged in the civic life of their community,</u> and <u>provide them with access to opportunity,</u> and <u>professional work experience.</u> We believe in providing our youth with <u>long term</u> individual mentoring and support, extending well beyond the time spent in our after-school programs and their graduation from high school.</p>
                        <hr>
                        <p class="text-muted">Read more about the results of our work on our <a href="ourimpact.html">impact page</a>.</p>
                </div>
            </div>
         <div class="row">
                <div class="col-lg-12 text-center">
                <center><img class="img-responsive" src="img/YouthZoo.jpg"></center>
            </div>
        </div>
               <div class="row" style="padding-top:50px;">
                <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Programs</h2>
                <p class="text-muted">Currently, our programs are offered in the DC Metro area (the District of Columbia; Montgomery and Prince George's County, MD; and the City of Alexandria and Arlington and Fairfax County, VA) and City of Baltimore. For a full list of our program locations, <a href="locations.html">click here</a>.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-institution fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="civics.html"><i>Civics and Citizenship</i></a></h4>
                    <p class="text-muted">Our after-school civic engagement program, <i>Civics and Citizenship</i> helps immigrant youth to become active participants in the civic life of their communities and pursue the many opportunities available. Participants engage in the civic life of their community by taking visits to local civic institutions such as police and fire stations or courthouses, and participate in volunteerism. Youth learn about different higher education and career opportunities by taking field trips to institutions of higher education and meeting working professionals in different fields (often of immigrant background themselves), and much more.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="cebell.html"><i> Civic Engagement for Beginning English language Learners (CE-BELL) </i></a></h4>
                    <p class="text-muted"><i>CE-BELL</i> follows the format of <i>Civics and Citizenship</i>, but focuses on <strong>youth who have no or very limited English language skills</strong>, and includes an English language learning component. The program, <strong>delivered entirely in Spanish</strong>, exposes newly arrived Hispanic immigrants to the civic life of their communities and encourages them to get involved early on. Like <i>Civics and Citizenship</i>, participants also learn about higher education and career opportunities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading"><a href="opportunitiesplus.html"><i>Opportunities Plus</i></a></h4>
                    <p class="text-muted">Our internship program, <i>Opportunities Plus</i> places documented immigrant youth in six to eight week internships with local businesses, government agencies, and nonprofits, providing professional work experience and the chance to explore a new career.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /What we do Section -->