    <!-- What You Can Do Section -->
    <section id="what-you-can-do">
        <div class="container">
            <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What You Can Do</h2>
                    <p class="text-muted">As a non-profit organization, 100% of our income comes from the donations and grants. We also rely on volunteers to help us carry out our internship and after-school programs. Here's how you can help us to help the immigrant youth of your community:</p>
                </div>
            </div> <!-- Row-->

            <div class="row">

            <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <h3>Give</h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> <u><strong>$5</strong></u> would provide SmarTrip card for one <i>Civics and Citizenship</i> or <i>CE-BELL</i> participant for field trips.</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> <u><strong>$10</strong></u> would provide bus fares home for six sessions for one program participant.</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> <u><strong>$20</strong></u> would provide bus fares home for 12 sessions for one program participant.</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> <u><strong>$50</strong></u> would provide pizza for one program session of 50 students.</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> <u><strong>$100</strong></u> would provide a one week allowance for food and travel to one of our <i>Opportunities Plus</i> interns.</li>
                             <li class="list-group-item"><i class="fa fa-check"></i> Liberty's Promise is a 501(c)(3) organization. All donations are tax deductible to the fullest extent allowed by law.</li>
                             <br>
                             <br>
                             <br>
                             <br>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" style="color: #ffffff" href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=x6XFa-gnhM0vzpokvoX_xRfyUMQi20WRgBbOmbjL7CbQFLDdcNBQv0IALdK&dispatch=5885d80a13c0db1f8e263663d3faee8d64813b57e559a2578463e58274899069">Donate Now!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <h3>Host an intern</h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-briefcase"></i> Our <i>Opportunities Plus</i> internship program offers low-income, immigrant youth a firsthand experience in the American workplace through a 6-8 week professional internship. We provide youth with intensive training on workplace etiquette, then facilitate their internship placement with a local organization or business. <br>
                              Youth apply by sending out their resume and cover letter, and then sit for an interview with the host agency, who selects the ideal candidate. We provide extensive support for our interns throughout the duration of the internship. If your organization needs help this summer, our interns can be useful in many ways: they are bilingual, hardworking, and highly motivated.  The program is <i><strong>FREE</strong></i> for hosts. Contact us below if you'd like to learn more!</li>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-danger" href="/pages/contact" style="color:#ffffff">Host an intern!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <h3>Volunteer</h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-building-o"></i>Volunteer directly in our office: currently we have openings for a <a href="http://www.idealist.org/view/volop/k86mXHJF46np/" class="site-link">Web Developer Volunteer</a>, <a href="http://www.idealist.org/view/volop/F37NjbztKJjd/" class="site-link">Development/Fundraising Volunteer</a>, and more. Contact us to learn more!</li>
                            <li class="list-group-item"><i class="fa fa-pencil"> </i>Volunteer at a job skills workshop: to prepare our youth for internships, we host a half day job skills workshop. Consider volunteering your time and help our youth develop their resume, cover letter, and interview skills! </li>
                            <li class="list-group-item"><i class="fa fa-university"> </i>Speak at our programs: Are you an immigrant looking to inspire and share your story? A university or scholarship representative looking to help first generation college students? Come speak at our programs! Our programs are offered Monday-Thursday. Contact us to learn more! </li>
                            <li class="list-group-item"><i class="fa fa-question"></i>Have another special skill or talent and want to contribute to the organization? Contact us to discuss how you can get involved! </li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-xl" style="color:#ffffff" href="/pages/volunteer">Volunteer with us!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

            </div> <!-- Row -->

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Spread the Word!</h2>
                    <p class="text-muted">Looking for another way you can help us out? Spread the word about us on social media! Let everyone know about how we're trying to help immigrant youth succeed!</p>
                </div>
            </div> <!-- Row -->

            <div class="row">
                <div class="col-md-4">
                    <h4>Tweet about us! @LibertysPromise</h4>
                    <a class="twitter-timeline" href="https://twitter.com/LibertysPromise" data-widget-id="464062136369414144">Tweets by @LibertysPromise</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                </div>
                <div class="col-md-4">
                    <h4>Follow us on Instagram! @LibertysPromise #LibertysPromise!</h4>
                    <!-- SnapWidget -->
                    <script src="http://snapwidget.com/js/snapwidget.js"></script>
                    <iframe src="http://snapwidget.com/bd/?u=bGliZXJ0eXNwcm9taXNlfGlufDI1fDN8MXx8eWVzfDEwfGZhZGVJbnxvblN0YXJ0fHllc3x5ZXM=&ve=020216" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
                </div>
                <div class="col-md-4">
                               <h4 style="margin:0;">Stay in touch with Liberty's Promise by subscribing to our monthly newsletter. We appreciate your support!</h2>

                    <!--Begin CTCT Sign-Up Form-->
<!-- EFD 1.0.0 [Fri Apr 08 12:44:05 EDT 2016] -->
<link rel='stylesheet' type='text/css' href='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/css/signup-form.css'>
<div class="ctct-embed-signup" style="font: 16px Helvetica Neue, Arial, sans-serif; font: 1rem Helvetica Neue, Arial, sans-serif; line-height: 1.5; -webkit-font-smoothing: antialiased;">
   <div style="color:#000090; background-color:#e8e8e8; border-radius:5px;">
       <span id="success_message" style="display:none;">
           <div style="text-align:center;">Thanks for signing up!</div>
       </span>
       <form data-id="embedded_signup:form" class="ctct-custom-form Form" name="embedded_signup" method="POST" action="https://visitor2.constantcontact.com/api/signup">
           <!-- The following code must be included to ensure your sign-up form works properly. -->
           <input data-id="ca:input" type="hidden" name="ca" value="b7572487-b966-4883-addd-bb03721c2c26">
           <input data-id="list:input" type="hidden" name="list" value="2129329082">
           <input data-id="source:input" type="hidden" name="source" value="EFD">
           <input data-id="required:input" type="hidden" name="required" value="list,email,first_name,last_name">
           <input data-id="url:input" type="hidden" name="url" value="">
           <p data-id="Email Address:p" ><label data-id="Email Address:label" data-name="email" class="ctct-form-required">Email Address</label> <input data-id="Email Address:input" type="text" name="email" value="" maxlength="80"></p>
           <p data-id="First Name:p" ><label data-id="First Name:label" data-name="first_name" class="ctct-form-required">First Name</label> <input data-id="First Name:input" type="text" name="first_name" value="" maxlength="50"></p>
           <p data-id="Last Name:p" ><label data-id="Last Name:label" data-name="last_name" class="ctct-form-required">Last Name</label> <input data-id="Last Name:input" type="text" name="last_name" value="" maxlength="50"></p>
           <p data-id="Company:p" ><label data-id="Company:label" data-name="company">Company</label> <input data-id="Company:input" type="text" name="company" value="" maxlength="50"></p>
           <button type="submit" class="Button ctct-button Button--block Button-secondary" data-enabled="enabled">Sign Up</button>
        <div><p class="ctct-form-footer">By submitting this form, you are granting: Liberty's Promise, 2900A Jefferson Davis Hwy, Alexandria, Virginia, 22305, United States, http://www.libertyspromise.org permission to email you. You may unsubscribe via the link found at the bottom of every email.  (See our <a href="http://www.constantcontact.com/legal/privacy-statement" target="_blank" class="site-link">Email Privacy Policy</a> for details.) Emails are serviced by Constant Contact.</p></div>
       </form>
   </div>
</div>
<script type='text/javascript'>
   var localizedErrMap = {};
   localizedErrMap['required'] =        'This field is required.';
   localizedErrMap['ca'] =          'An unexpected error occurred while attempting to send email.';
   localizedErrMap['email'] =           'Please enter your email address in name@email.com format.';
   localizedErrMap['birthday'] =        'Please enter birthday in MM/DD format.';
   localizedErrMap['anniversary'] =     'Please enter anniversary in MM/DD/YYYY format.';
   localizedErrMap['custom_date'] =     'Please enter this date in MM/DD/YYYY format.';
   localizedErrMap['list'] =            'Please select at least one email list.';
   localizedErrMap['generic'] =         'This field is invalid.';
   localizedErrMap['shared'] =      'Sorry, we could not complete your sign-up. Please contact us to resolve this.';
   localizedErrMap['state_mismatch'] = 'Mismatched State/Province and Country.';
    localizedErrMap['state_province'] = 'Select a state/province';
   localizedErrMap['selectcountry'] =   'Select a country';
   var postURL = 'https://visitor2.constantcontact.com/api/signup';
</script>
<script type='text/javascript' src='https://static.ctctcdn.com/h/contacts-embedded-signup-assets/1.0.2/js/signup-form.js'></script>
<!--End CTCT Sign-Up Form-->
                </div>
                </div> <!-- Row-->

        </div> <!-- Container -->
    </section>
    <!-- /What You Can Do -->